# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled source maps
*.js.map

# Environment variables file
.env

# IDE and Editor directories and files
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Other files to ignore
*.pem
*.key
*.crt
